<section>
    <div class="deal-container">
        <div class="deal-content">
            <h1>ARE YOU READY TO PIZZA?</h1>
        </div>
        
      <div class="pizzaCard-div" >
        <span routerLink="CutomizePizzaComponent" data-aos="zoom-in" data-aos-duration="1000">
            <img src="assets\Images\thumb_customize.jpg" alt="" />
            <p>Customize</p>
          </span>

      <span data-aos="zoom-in" data-aos-duration="1000">
        <img src="assets\Images\plant_based_thumb.jpg" alt="" />
        <p>Signature Pizza</p>
      </span >
      <span data-aos="zoom-in" data-aos-duration="1000">
        <img src="assets\Images\thumb_veggie.jpg" alt="" />
        <p>Veggie Pizaa</p>
      </span>
      <span data-aos="zoom-in" data-aos-duration="1000">
        <img src="assets\Images\thumb_meat.jpg" alt="" />
        <p>Meat Pizza</p>
      </span>
      <span data-aos="zoom-in" data-aos-duration="1000">
        <img src="assets\Images\new_gluten_Free.jpg" alt="" />
        <p>Glutten Free Pizza</p>
      </span> 
    </div>

        <div class="deal-content">
            <h1>COMPLETE YOUR MEAL!</h1>
        </div>

        <div class="pizzaCard-div">
            <span data-aos="zoom-in" data-aos-duration="1000">
              <img src="assets\Images\wings.jpeg" alt="" />
              <p>Wings</p>
            </span>
            <span data-aos="zoom-in" data-aos-duration="1000">
              <img src="assets\Images\panzerotti.jpg" alt="" />
              <p>Panzerotti</p>
            </span>
            <span data-aos="zoom-in" data-aos-duration="1000">
              <img src="assets\Images\dipSauce.jpg" alt="" />
              <p>Dip Suace</p>
            </span>
            <span data-aos="zoom-in" data-aos-duration="1000">
              <img src="assets\Images\bread.jpg" alt="" />
              <p>Bread</p>
            </span>
            <span data-aos="zoom-in" data-aos-duration="1000">
              <img src="assets\Images\beverages.jpg" alt="" />
              <p>Beverages</p>
            </span>
        </div>

  
    </div>
  </section>
