<div class="addToCart-main">
<div class="container">

    <div class="row">
        <div class="addToCart-header">
        <h1>HERE'S YOUR ORDER ENJOY!</h1>
        <P>Your order has not yet been placed.</P>
        <P>Please review and confirm below to submit your order.</P>
        </div>
    </div>

    <div class="row gx-5" style="margin: 20px 0px; padding: 0;">

        <div class="col-12">
            <div class="continue-shopping">
            <p >Please add items to your order</p>
            <button (click)="redirect()">CONTINUE SHOPPING</button>
        </div>
        </div>

        <!-- <div class="col-8 " style="margin: 0px; padding: 0;">

            <div class="addToCatt-body">
                <div class="addToCart-pizzaDetail">
                <h5>JOEY ZAZA</h5>
                <ul>
                    <li><p>Size: <span> Large</span></p></li>
                    <li><p>Crust: <span> Original</span></p></li>
                    <li><p>Crust Style: <span> Original</span></p></li>
                    <li><p>Special Instructions: <span>Regular</span></p></li>
                </ul>
                <h5>Whole Pizza</h5>
                <ul>
                    <li><span>Mozzarella Cheese</span></li>
                    <li><span>Parmigiano Cheese</span></li>
                    <li><span>Chilli Flakes</span></li>
                    <li><span>Fresh garlic</span></li>
                </ul>
            </div>
                <div class="add-pizza-quantity">
                    <button type="" (click)="minus()"><fa-icon class="cart" [icon]="faMinusCircle"></fa-icon></button>
                    <input type="text" [value]="quantity">
                    <button type="" (click)="plus()"><fa-icon class="cart" [icon]="faPlusCircle"></fa-icon></button>
                </div>
                <div class="edit-remove">
                    <p>Edit</p>
                    <span>|</span>
                    <p>Remove</p>
                </div>



            </div>

            <div class="addToCatt-body">
                <div class="addToCart-pizzaDetail">
                <h5>JOEY ZAZA</h5>
                <ul>
                    <li><p>Size: <span> Large</span></p></li>
                    <li><p>Crust: <span> Original</span></p></li>
                    <li><p>Crust Style: <span> Original</span></p></li>
                    <li><p>Special Instructions: <span>Regular</span></p></li>
                </ul>
                <h5>Whole Pizza</h5>
                <ul>
                    <li><span>Mozzarella Cheese</span></li>
                    <li><span>Parmigiano Cheese</span></li>
                    <li><span>Chilli Flakes</span></li>
                    <li><span>Fresh garlic</span></li>
                </ul>
            </div>
                <div class="add-pizza-quantity">
                    <button type="" (click)="minus()"><fa-icon class="cart" [icon]="faMinusCircle"></fa-icon></button>
                    <input type="text" [value]="quantity">
                    <button type="" (click)="plus()"><fa-icon class="cart" [icon]="faPlusCircle"></fa-icon></button>
                </div>
                <div class="edit-remove">
                    <p>Edit</p>
                    <span>|</span>
                    <p>Remove</p>
                </div>



            </div>


        </div> -->

        <!-- <div class="col-4">
            <div class="card">
                <div class="card-header ">
                    <h5>Order Summary</h5>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            <p>SubTotal</p>
                            <p>$23.79</p>
                        </li>
                        <li>
                            <P>HST (13%)</P>
                            <p>$3.09</p>
                        </li>
                    </ul>
                    <ul>
                        <li class="cart-total">
                            <h5>Total</h5>
                            <h5>$26.68</h5>
                        </li>
                    </ul>
                    <button>Add More Items</button>
                </div>
                <div class="card-footer">
                    <button>Place Order For Pickup</button>
                    <button>Place Order For Delivery</button>
                    <span>Deliver orders will add $3.25</span>
                </div>
            </div>

        </div> -->

    </div>

</div>
</div>