<!-- //////////////////////footer////////////////////////// -->
<section>
    <div class="footer-main" style="background-color: rgb(24, 24, 24); padding-top: 10px;">
    <div class="container">
        <div class="row" >
            <div class="rating-sec">
                <ul>
                    <li><fa-icon class="cart" [icon]="faStar"></fa-icon></li>
                    <li><fa-icon class="cart" [icon]="faStar"></fa-icon></li>
                    <li><fa-icon class="cart" [icon]="faStar"></fa-icon></li>
                    <li><fa-icon class="cart" [icon]="faStar"></fa-icon></li>
                    <li><fa-icon class="cart" [icon]="faStar"></fa-icon></li>
                </ul>
                
            </div>
        </div>
        <div class="row">
            <div class="footer-spec">
            <ul>
                <li>HOME</li>
                <li>MAKE YOUR OWN PIZZA</li>
                <li>SIGNATURE SPECIAL PIZZA</li>
                <li>HALF AND HALF PIZZA</li>
                <li>PIZZA</li>
                <li>WINGS</li>
                <li>SIDE ORDERS</li>
                <li>BREAD</li>
                <li>PANZEROTTI</li>
                <li>SALAD</li>
                <li>DIP SAUCES</li>
                <li>BEVERAGES</li>
            </ul>
        </div>
        </div>
        <div class="row">
            <div class="footer-logo">
            <img src="assets\Images\footerLogo.png" alt="">
        </div>
        </div>
        <div class="row">
            <div class="designBy">
            <p> © 2022 All rights reserved | Designed by <span>MBE Digital</span> </p>
            </div>
        </div>
    </div>
</div>
</section>
